<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/ayuda.css">
    <link rel="stylesheet" href="../public/style/global/footer.css">
    <link rel="stylesheet" href="../public/style/global/menu.css">

    <title>Document</title>
</head>
<body>
    <header>
        <div class="menu">
            <figure >
                <img id="menu-logo" src="/public/assets/img/icon/interface/logo.png" alt="">
            </figure>

            <div class="menu-name">
                <h1 id="menu-title">Odyssey Expedition</h1>
                <p id="menu-subtitle">Agencia de viajes</p>
            </div>

                <nav class="menu-content">
                    <ul>
                        <li><a href="./index.html">Inicio</a></li>
                        <li><a href="./nosotros.html">Nosotros</a></li>
                        <li><a href="./ayuda.html">Ayuda</a></li>
                        <li><a href="#">Perfil</a></li>
                    </ul>
                </nav>
        </div>
        
        <nav class="submenu">
            <ul>
                <li><a href="#">Vuelos</a></li>
                <li><a href="#">Hoteles</a></li>
                <li><a href="#">Paquetes</a></li>
                <li><a href="#">Cruceros</a></li>
                <li><a href="#">Actividades</a></li>
                <li><a href="#">Carros</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="ayuda">
        <p>¿Como podemos ayudarte?</p>
    </section>

    <section id="cards-ayuda">
        <div class="card-ayuda"><img src="../public/assets/img/icon/services/plane.png" alt=""><p>Vuelos</p></div>
        <div class="card-ayuda"><img src="../public/assets/img/icon/services/double-bed.png" alt=""><p>Hoteles</p></div>
        <div class="card-ayuda"><img src="../public/assets/img/icon/services/briefcase.png" alt=""><p>Paquetes</p></div>
        <div class="card-ayuda"><img src="../public/assets/img/icon/services/boat.png" alt=""><p>Cruceros</p></div>
        <div class="card-ayuda"><img src="../public/assets/img/icon/services/ferris-wheel.png" alt=""><p>Actividades</p></div>
    </section>

    <section class="ayuda">
        <p>¿Como podemos ayudarte?</p>
    </section>

    <section id="preguntas">
        <div class="card-pregunta"><img src="../public/assets/img/icon/interface/question-mark.png" alt=""><p>Informacion sobre equipajes</p></div>
        <div class="card-pregunta"><img src="../public/assets/img/icon/interface/question-mark.png" alt=""><p>Informacion sobre equipajes</p></div>
        <div class="card-pregunta"><img src="../public/assets/img/icon/interface/question-mark.png" alt=""><p>Informacion sobre equipajes</p></div>
        <div class="card-pregunta"><img src="../public/assets/img/icon/interface/question-mark.png" alt=""><p>Informacion sobre equipajes</p></div>
        <div class="card-pregunta"><img src="../public/assets/img/icon/interface/question-mark.png" alt=""><p>Informacion sobre equipajes</p></div>
        <div class="card-pregunta"><img src="../public/assets/img/icon/interface/question-mark.png" alt=""><p>Informacion sobre equipajes</p></div>
    </section>

    <footer>
        <div class="footer-content">
            <h3>Sobre nosotros</h3>
            <p>Quienes somos</p>
            <p>Terminos y condiciones</p>
            <p>Politica y privacidad</p>
        </div>

        <div class="footer-content">
            <h3>¿Necesitas asistencia?</h3>
            <p>Telefonos</p>
            <p>Preguntas frecuentes</p>
            <p>Asesoria personalizada</p>
        </div>

        <div class="footer-content">
            <h3>Ubicaciones</h3>
            <p>Unicentro piso 2. Cra 14 No.<br>6-02.  Armenia, Quindío, Colombia</p>
            <p>Google Maps</p>
        </div>
    </footer>
</body>
</html>