<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/global/variables.css">
    <link rel="stylesheet" href="/public/style/global/menu.css">
    <link rel="stylesheet" href="/public/style/global/footer.css">
    <link rel="stylesheet" href="/public/style/compra.css">
    <title>Odyssey Expedition</title>
</head>
<body>
    <header>
        <div class="menu">
            <figure >
                <img id="menu-logo" src="/public/assets/img/icon/interface/logo.png" alt="">
            </figure>

            <div class="menu-name">
                <h1 id="menu-title">Odyssey Expedition</h1>
                <p id="menu-subtitle">Agencia de viajes</p>
            </div>

                <nav class="menu-content">
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Ayuda</a></li>
                        <li><a href="#">Perfil</a></li>
                    </ul>
                </nav>
        </div>
        
        <nav class="submenu">
            <ul>
                <li><a href="#">Vuelos</a></li>
                <li><a href="#">Hoteles</a></li>
                <li><a href="#">Paquetes</a></li>
                <li><a href="#">Cruceros</a></li>
                <li><a href="#">Actividades</a></li>
                <li><a href="#">Carros</a></li>
            </ul>
        </nav>
    </header>
    <section class="container-compra">
        <aside class="hotel">
            <div class="card">
                <div
                 class="card
                __content"> 
                    <h3>Hoteles</h3> 
                    <p>Ubicacion</p>
                    <input type="text" name="ubicacion" placeholder=" Ubicacion (Todas)">
                    <p>Ubicacion</p>
                    <input type="text" name="ubicacion" placeholder=" Ubicacion (Todas)">
                    <p>Ubicacion</p>
                    <input type="text" name="ubicacion" placeholder=" Ubicacion (Todas)">
                    <p>Ubicacion</p>
                    <input type="text" name="ubicacion" placeholder=" Ubicacion (Todas)">
                    <div class="habitaciones">
                        <p>Habitacion 1</p>
                        <div class="personas">
                            <p>Adultos                                
                                <input type="number" name="number" placeholder="0">
                            </p>
                            <p>Niños                               
                                <input type="number" name="number" placeholder="0">
                            </p>
                        </div>
                    </div>
                    <div class="habitaciones">
                        <p>Habitacion 1</p>
                        <div class="personas">
                            <p>Adultos
                                <input type="number" name="number" placeholder="0">
                            </p>
                            <p>Niños
                                <input type="number" name="number" placeholder="0">
                            </p>
                        </div>
                    </div>
                    <div class="habitaciones">
                        <p>Habitacion 1</p>
                        <div class="personas">
                            <p>Adultos
                                <input type="number" name="number" placeholder="0">
                            </p>
                            <p>Niños
                                <input type="number" name="number" placeholder="0">
                            </p>
                        </div>
                    </div>
                    <div class="boton">
                        <button>Buscar</button>
                    </div>
                </div>
            </div>
        </aside>

        <div class="hoteles">
            <div class="hotel1">
                <figure class="hotel">
                    <img src="/public/assets/img/wallpaper/hotel-1.jpg">
                </figure>
                <div class="Jotel">
                    <h3 class="h3jotel">Hotel 1</h3>
                    <div class="jotelE">
                        <p class="pjotel">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <div class="rank">
                           <div class="Price"> 
                                <span class="price">Precio
                                    <p class="precio">$500.000</p>
                                </span>
                            </div>
                                <div class="puntu">
                                    <span class="puntuacion">Puntuacion</span>
                                
                                    <div class="images">
                                        <figure class="estrellas">
                                            <img src="/public/assets/img/icon/interface/star-brown.png">
                                        </figure>
                                        <figure class="estrellas">
                                            <img src="/public/assets/img/icon/interface/star-brown.png">
                                        </figure>
                                        <figure class="estrellas">
                                            <img src="/public/assets/img/icon/interface/star-brown.png">
                                        </figure>
                                        <figure class="estrellas">
                                            <img src="/public/assets/img/icon/interface/star-brown.png">
                                        </figure>
                                        <figure class="estrellas">
                                            <img src="/public/assets/img/icon/interface/star-brown.png">
                                        </figure>
                                    </div>                             
                                </div>
                         </div>  
                            <a href="reserva.html">
                                <div class="boton2">
                                    <button href="reserva">Ver más</button>
                                </div>
                            </a>
                               
                                
                            </div>   
                        </div>  
                    </div>

                    <div class="hotel1">
                        <figure class="hotel">
                            <img src="/public/assets/img/wallpaper/hotel-2.jpg">
                        </figure>
                        <div class="Jotel">
                            <h3 class="h3jotel">Hotel 2</h3>
                            <div class="jotelE">
                                <p class="pjotel">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="rank">
                                   <div class="Price"> 
                                        <span class="price">Precio
                                            <p class="precio">$500.000</p>
                                        </span>
                                    </div>
                                        <div class="puntu">
                                            <span class="puntuacion">Puntuacion</span>
                                        
                                            <div class="images">
                                                <figure class="estrellas">
                                                    <img src="/public/assets/img/icon/interface/star-brown.png">
                                                </figure>
                                                <figure class="estrellas">
                                                    <img src="/public/assets/img/icon/interface/star-brown.png">
                                                </figure>
                                                <figure class="estrellas">
                                                    <img src="/public/assets/img/icon/interface/star-brown.png">
                                                </figure>
                                                <figure class="estrellas">
                                                    <img src="/public/assets/img/icon/interface/star-brown.png">
                                                </figure>
                                                <figure class="estrellas">
                                                    <img src="/public/assets/img/icon/interface/star-brown.png">
                                                </figure>
                                            </div>                             
                                        </div>
                                 </div>  
                                        <div class="boton2">
                                            <button>Ver más</button>
                                        </div>
                                       
                                        
                                    </div>   
                                </div>  
                            </div>

                            <div class="hotel1">
                                <figure class="hotel">
                                    <img src="/public/assets/img/wallpaper/hotel-3.jpg">
                                </figure>
                                <div class="Jotel">
                                    <h3 class="h3jotel">Hotel 3</h3>
                                    <div class="jotelE">
                                        <p class="pjotel">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <div class="rank">
                                           <div class="Price"> 
                                                <span class="price">Precio
                                                    <p class="precio">$500.000</p>
                                                </span>
                                            </div>
                                                <div class="puntu">
                                                    <span class="puntuacion">Puntuacion</span>
                                                
                                                    <div class="images">
                                                        <figure class="estrellas">
                                                            <img src="/public/assets/img/icon/interface/star-brown.png">
                                                        </figure>
                                                        <figure class="estrellas">
                                                            <img src="/public/assets/img/icon/interface/star-brown.png">
                                                        </figure>
                                                        <figure class="estrellas">
                                                            <img src="/public/assets/img/icon/interface/star-brown.png">
                                                        </figure>
                                                        <figure class="estrellas">
                                                            <img src="/public/assets/img/icon/interface/star-brown.png">
                                                        </figure>
                                                        <figure class="estrellas">
                                                            <img src="/public/assets/img/icon/interface/star-brown.png">
                                                        </figure>
                                                    </div>                             
                                                </div>
                                         </div>  
                                                <div class="boton2">
                                                    <button>Ver más</button>
                                                </div>
                                               
                                                
                                            </div>   
                                        </div>  
                                    </div>

                                    <div class="hotel1">
                                        <figure class="hotel">
                                            <img src="/public/assets/img/wallpaper/hotel-4.jpg">
                                        </figure>
                                        <div class="Jotel">
                                            <h3 class="h3jotel">Hotel 4</h3>
                                            <div class="jotelE">
                                                <p class="pjotel">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <div class="rank">
                                                   <div class="Price"> 
                                                        <span class="price">Precio
                                                            <p class="precio">$500.000</p>
                                                        </span>
                                                    </div>
                                                        <div class="puntu">
                                                            <span class="puntuacion">Puntuacion</span>
                                                        
                                                            <div class="images">
                                                                <figure class="estrellas">
                                                                    <img src="/public/assets/img/icon/interface/star-brown.png">
                                                                </figure>
                                                                <figure class="estrellas">
                                                                    <img src="/public/assets/img/icon/interface/star-brown.png">
                                                                </figure>
                                                                <figure class="estrellas">
                                                                    <img src="/public/assets/img/icon/interface/star-brown.png">
                                                                </figure>
                                                                <figure class="estrellas">
                                                                    <img src="/public/assets/img/icon/interface/star-brown.png">
                                                                </figure>
                                                                <figure class="estrellas">
                                                                    <img src="/public/assets/img/icon/interface/star-brown.png">
                                                                </figure>
                                                            </div>                             
                                                        </div>
                                                 </div>  
                                                        <div class="boton2">
                                                            <button>Ver más</button>
                                                        </div>
                                                       
                                                        
                                                    </div>   
                                                </div>  
                                            </div>

                                            <div class="hotel1">
                                                <figure class="hotel">
                                                    <img src="/public/assets/img/wallpaper/hotel-5.jpg">
                                                </figure>
                                                <div class="Jotel">
                                                    <h3 class="h3jotel">Hotel 5</h3>
                                                    <div class="jotelE">
                                                        <p class="pjotel">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                        <div class="rank">
                                                           <div class="Price"> 
                                                                <span class="price">Precio
                                                                    <p class="precio">$500.000</p>
                                                                </span>
                                                            </div>
                                                                <div class="puntu">
                                                                    <span class="puntuacion">Puntuacion</span>
                                                                
                                                                    <div class="images">
                                                                        <figure class="estrellas">
                                                                            <img src="/public/assets/img/icon/interface/star-brown.png">
                                                                        </figure>
                                                                        <figure class="estrellas">
                                                                            <img src="/public/assets/img/icon/interface/star-brown.png">
                                                                        </figure>
                                                                        <figure class="estrellas">
                                                                            <img src="/public/assets/img/icon/interface/star-brown.png">
                                                                        </figure>
                                                                        <figure class="estrellas">
                                                                            <img src="/public/assets/img/icon/interface/star-brown.png">
                                                                        </figure>
                                                                        <figure class="estrellas">
                                                                            <img src="/public/assets/img/icon/interface/star-brown.png">
                                                                        </figure>
                                                                    </div>                             
                                                                </div>
                                                         </div>  
                                                                <div class="boton2">
                                                                    <button>Ver más</button>
                                                                </div>
                                                               
                                                                
                                                            </div>   
                                                        </div>  
                                                    </div>
                </div><!-- Hoteles -->
            </div>
        </div>
    </section>


    
</body>
</html>