<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/global/variables.css">
    <link rel="stylesheet" href="/public/style/global/menu.css">
    <link rel="stylesheet" href="/public/style/global/footer.css">
    <link rel="stylesheet" href="/public/style/index.css">
    <title>Odyssey Expedition</title>
</head>
<body>
    <header>
        <div class="menu">
            <figure >
                <img id="menu-logo" src="/public/assets/img/icon/interface/logo.png" alt="">
            </figure>

            <div class="menu-name">
                <h1 id="menu-title">Odyssey Expedition</h1>
                <p id="menu-subtitle">Agencia de viajes</p>
            </div>

                <nav class="menu-content">
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="./nosotros.html">Nosotros</a></li>
                        <li><a href="#">Ayuda</a></li>
                        <li><a href="#">Perfil</a></li>
                    </ul>
                </nav>
        </div>
        
        <nav class="submenu">
            <ul>
                <li><a href="#">Vuelos</a></li>
                <li><a href="#">Hoteles</a></li>
                <li><a href="#">Paquetes</a></li>
                <li><a href="#">Cruceros</a></li>
                <li><a href="#">Actividades</a></li>
                <li><a href="#">Carros</a></li>
            </ul>
        </nav>
    </header>

    <section class="wrapper">
        <section class="container-ticket">
            <div class="ticket">
                <div class="ticket-destiny ticket-values">
                    <h4>Destino</h4>
                    <div class="ticket-content">
                        <p>Ubicacion (Todas)</p>
                    </div>
                </div>
                <div class="ticket-date ticket-values">
                    <div>
                        <h4>Fecha</h4>
                        <div class="ticket-content">
                            <p>Llegada</p>
                            <p>00/00/2024</p>
                        </div> 
                    </div>
                    <div>
                        <h4 id="date">Fecha</h4>
                        <div class="ticket-content">
                            <p>Salida</p>
                            <p>00/00/2024</p> 
                        </div> 
                    </div>
                </div>
                <div class="ticket-room ticket-values">
                    <h4>Habitaciones</h4>
                    <div class="ticket-rooms-quantity ticket-content">
                        <p>0 Adultos</p>
                        <p>0 Niños</p>
                    </div>
                </div>
    
                <button id="ticket-btn"><a href=""><p>Buscar</p></a></button>
            </div>
        </section>
    
        <section class="container-information">
            <div class="destinies">
                <h2 class="destinies-title">Destinos <br> Colombia</h2>
                <h2 class="destinies-title">Destinos <br> Internacionales</h2>
            </div>
    
            <div class="slider">
                <figure>
                    <img class="slider-arrow" src="/public/assets/img/icon/interface/arrow-left.png" alt="">
                </figure>
                <figure>
                    <img class="slider-img" src="/public/assets/img/wallpaper/bogota.jpg" alt="">
                </figure>
                <figure>
                    <img class="slider-arrow" src="/public/assets/img/icon/interface/arrow-right.png" alt="">
                </figure>
            </div>
    
            <section class="recomendation">
                <h2>Recomedaciones Nacionales</h2>
    
                <div class="card-container">
                    <div class="card">
                        <img class="card-img" src="/public/assets/img/wallpaper/bogota.jpg" alt="">
                        <h3 class="card-title">Bogota</h3>
                        <div class="card-content">
                            <h4>Hoteles</h4>
                            <h4>Precio</h4>
                        </div>
                        <div class="card-content">
                            <p>Hotel 1</p>
                            <p>$500.000</p>
                        </div>
                        <div class="card-content">
                            <p>Hotel 2</p>
                            <p>$500.000</p>
                        </div>
                        <div class="card-content">
                            <p>Hotel 3</p>
                            <p>$500.000</p>
                        </div>
                        <div class="card-content">
                            <p>Hotel 4</p>
                            <p>$500.000</p>
                        </div>
                        <div class="card-content">
                            <p>Hotel 5</p>
                            <p>$500.000</p>
                        </div>
                        <button id="card-btn"><a href=""><p>Ver mas</p></a></button>
                    </div>

                    <div class="card">
                            <img class="card-img" src="/public/assets/img/wallpaper/cartagena.jpg" alt="">
                        <h3 class="card-title">Cartagena</h3>
                        <div class="card-content">
                            <h4>Hoteles</h4>
                            <h4>Precio</h4>
                        </div>
                        <div class="card-content">
                            <p>Hotel 1</p>
                            <p>$500.000</p>
                        </div>
                        <div class="card-content">
                            <p>Hotel 2</p>
                            <p>$500.000</p>
                        </div>
                        <div class="card-content">
                            <p>Hotel 3</p>
                            <p>$500.000</p>
                        </div>
                        <div class="card-content">
                            <p>Hotel 4</p>
                            <p>$500.000</p>
                        </div>
                        <div class="card-content">
                            <p>Hotel 5</p>
                            <p>$500.000</p>
                        </div>
                        <button id="card-btn"><a href=""><p>Ver mas</p></a></button>
                    </div>
    
                    <div class="card">
                        <img class="card-img" src="/public/assets/img/wallpaper/santaMarta.jpg" alt="">
                        <h3 class="card-title">Santa Marta</h3>
                        <div class="card-content">
                            <h4>Hoteles</h4>
                            <h4>Precio</h4>
                        </div>
                        <div class="card-content">
                            <p>Hotel 1</p>
                            <p>$500.000</p>
                        </div>
                        <div class="card-content">
                            <p>Hotel 2</p>
                            <p>$500.000</p>
                        </div>
                        <div class="card-content">
                            <p>Hotel 3</p>
                            <p>$500.000</p>
                        </div>
                        <div class="card-content">
                            <p>Hotel 4</p>
                            <p>$500.000</p>
                        </div>
                        <div class="card-content">
                            <p>Hotel 5</p>
                            <p>$500.000</p>
                        </div>
                        <button id="card-btn"><a href=""><p>Ver mas</p></a></button>
                    </div>
                </div>  
        </section>
    </section>

    <footer>
        <div class="footer-content">
            <h3>Sobre nosotros</h3>
            <p>Quienes somos</p>
            <p>Terminos y condiciones</p>
            <p>Politica y privacidad</p>
        </div>

        <div class="footer-content">
            <h3>¿Necesitas asistencia?</h3>
            <p>Telefonos</p>
            <p>Preguntas frecuentes</p>
            <p>Asesoria personalizada</p>
        </div>

        <div class="footer-content">
            <h3>Ubicaciones</h3>
            <p>Unicentro piso 2. Cra 14 No.<br>6-02.  Armenia, Quindío, Colombia</p>
            <p>Google Maps</p>
        </div>
    </footer>
</body>
</html>