<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/global/footer.css">
    <link rel="stylesheet" href="../public/style/global/menu.css">
    <link rel="stylesheet" href="../public/style/nosotros.css">

    <title>Document</title>
</head>
<body>
    <header>
        <div class="menu">
            <figure >
                <img id="menu-logo" src="/public/assets/img/icon/interface/logo.png" alt="">
            </figure>

            <div class="menu-name">
                <h1 id="menu-title">Odyssey Expedition</h1>
                <p id="menu-subtitle">Agencia de viajes</p>
            </div>

                <nav class="menu-content">
                    <ul>
                        <li><a href="./index.html">Inicio</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="./ayuda.html">Ayuda</a></li>
                        <li><a href="#">Perfil</a></li>
                    </ul>
                </nav>
        </div>
        
        <nav class="submenu">
            <ul>
                <li><a href="#">Vuelos</a></li>
                <li><a href="#">Hoteles</a></li>
                <li><a href="#">Paquetes</a></li>
                <li><a href="#">Cruceros</a></li>
                <li><a href="#">Actividades</a></li>
                <li><a href="#">Carros</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="inicio-nosotros">
        <p id="title">Oddysey Expedition</p>
        <p>Conocenos</p>
        <img src="../public/assets/img/icon/interface/play-button.png" alt="">
    </section>

    <section id="info-nosotros">
        <p id="title2">Oddysey Expedition</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit dignissim hendrerit, donec dis facilisis facilisi felis urna quis nec, sapien nostra quam himenaeos interdum litora scelerisque turpis. Curae pretium cum iaculis cras vel enim quisque a in etiam, per rhoncus sollicitudin morbi quam tristique vitae hac gravida ante, aptent consequat porttitor lacus diam libero natoque neque porta. Phasellus purus eleifend urna dui ultrices parturient ut arcu massa felis habitasse, sagittis pellentesque quisque eget posuere ridiculus leo mi etiam convallis quam fusce, vehicula cras risus taciti penatibus praesent volutpat aliquam accumsan nisl.</p>
        <div id="redes-sociales">
            <img src="../public/assets/img/icon/socialMedia/facebook.png" alt="">
            <img src="../public/assets/img/icon/socialMedia/instagram.png" alt="">
            <img src="../public/assets/img/icon/socialMedia/twitter.png" alt="">
            <img src="../public/assets/img/icon/socialMedia/youtube.png" alt="">
            <img src="../public/assets/img/icon/socialMedia/social.png" alt="">
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <h3>Sobre nosotros</h3>
            <p>Quienes somos</p>
            <p>Terminos y condiciones</p>
            <p>Politica y privacidad</p>
        </div>

        <div class="footer-content">
            <h3>¿Necesitas asistencia?</h3>
            <p>Telefonos</p>
            <p>Preguntas frecuentes</p>
            <p>Asesoria personalizada</p>
        </div>

        <div class="footer-content">
            <h3>Ubicaciones</h3>
            <p>Unicentro piso 2. Cra 14 No.<br>6-02.  Armenia, Quindío, Colombia</p>
            <p>Google Maps</p>
        </div>
    </footer>
</body>
</html>