<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/global/footer.css">
    <link rel="stylesheet" href="../public/style/global/menu.css">
    <link rel="stylesheet" href="../public/style/reserva.css">
    <title>Odyssey Expedition</title>
</head>
<body>
    <header>
        <div class="menu">
            <figure>
                <img id="menu-logo" src="/public/assets/img/icon/interface/logo.png" alt="">
            </figure>

            <div class="menu-name">
                <h1 id="menu-title">Odyssey Expedition</h1>
                <p id="menu-subtitle">Agencia de viajes</p>
            </div>

            <nav class="menu-content">
                <ul>
                    <li><a href="./index.html">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="./ayuda.html">Ayuda</a></li>
                    <li><a href="#">Perfil</a></li>
                </ul>
            </nav>
        </div>
        
        <nav class="submenu">
            <ul>
                <li><a href="#">Vuelos</a></li>
                <li><a href="#">Hoteles</a></li>
                <li><a href="#">Paquetes</a></li>
                <li><a href="#">Cruceros</a></li>
                <li><a href="#">Actividades</a></li>
                <li><a href="#">Carros</a></li>
            </ul>
        </nav>
    </header>

    <article id="images">
        <h1>Hotel 1</h1>
        <div class="image">
            <aside class="hotel-1">
                <figure class="principal">
                    <img src="/public/assets/img/wallpaper/hotel-1.jpg">
                </figure>
            </aside>
            <section class="images2">
                <div class="im">
                    <figure>
                        <img src="/public/assets/img/wallpaper/hotel-1-restaurante.jpg">
                    </figure>
                    <figure>
                        <img src="/public/assets/img/wallpaper/hotel-1-comida.jpg">
                    </figure>
                </div>
                <div class="im2">
                    <figure>
                        <img src="/public/assets/img/wallpaper/hotel-1-habitacion.jpg">
                    </figure>
                    <button class="boton">Ver más</button>
                    <figure>
                        <img src="/public/assets/img/wallpaper/hotel-1-baño.jpg">
                    </figure>
                </div>
            </section>
        </div>
    </article>
    
    <section id="info">
        <section class="info-reservas">
            <ol> 
                <h2>Información general</h2> 
                <li>¡Impresionante villa ganadora de premios 3 veces!</li> 
                <li>4 dormitorios con baño privado de lujo, más una habitación desbordada. Capacidad para 8-12 personas.</li>
                <li>8,333 pies cuadrados de villa en un acantilado de 40 pies con vistas al mar de 360º.</li>
                <li>Piscina infinita rodeada de playas de arena blanca y azucarada.</li> 
                <li>Vista a las montañas y la reserva natural de Watamula.</li> 
                <li>Cocina profesional y todas las habitaciones lujosamente equipadas.</li> 
                <li>Perfecta para trabajar a distancia con Internet de alta velocidad.</li> 
                <li>Ubicada en el resort cerrado con seguridad las 24 horas, los 7 días de la semana.</li> 
                <li>Ganadora del premio Luxury Villa 2021, Beautiful Curacao 2022 y Eco Award 2023.</li> 
            </ol>
            <button class="info">Ver mas</button>
        </section>
        <section class="info-reservas">
            <ol> 
                <h2>Lo que este lugar ofrece</h2> 
                <li>¡Impresionante villa ganadora de premios 3 veces!</li> 
                <li>4 dormitorios con baño privado de lujo, más una habitación desbordada. Capacidad para 8-12 personas.</li>
                <li>8,333 pies cuadrados de villa en un acantilado de 40 pies con vistas al mar de 360º.</li>
                <li>Piscina infinita rodeada de playas de arena blanca y azucarada.</li> 
                <li>Vista a las montañas y la reserva natural de Watamula.</li> 
                <li>Cocina profesional y todas las habitaciones lujosamente equipadas.</li> 
                <li>Perfecta para trabajar a distancia con Internet de alta velocidad.</li> 
                <li>Ubicada en el resort cerrado con seguridad las 24 horas, los 7 días de la semana.</li> 
                <li>Ganadora del premio Luxury Villa 2021, Beautiful Curacao 2022 y Eco Award 2023.</li> 
            </ol>
            <button class="info">Ver mas</button>

        </section>
    </section>

    <h2 class="title">Valoracion general</h2>
    <section id="valoraciones">
        <div class="card-valoracion"><p class="servicio">Limpieza</p><p class="valoracion">4.9</p><img src="../public/assets/img/icon/rating/cleaning.png" alt=""></div>
        <div class="card-valoracion"><p class="servicio">Exactitud</p><p class="valoracion">4.9</p><img src="../public/assets/img/icon/rating/check-mark.png" alt=""></div>
        <div class="card-valoracion"><p class="servicio">Seguridad</p><p class="valoracion">4.9</p><img src="../public/assets/img/icon/rating/padlock.png" alt=""></div>
        <div class="card-valoracion"><p class="servicio">Comunicacion</p><p class="valoracion">4.9</p><img src="../public/assets/img/icon/rating/speech-bubble.png" alt=""></div>
        <div class="card-valoracion"><p class="servicio">Ubicacion</p><p class="valoracion">4.9</p><img src="../public/assets/img/icon/rating/map.png" alt=""></div>
        <div class="card-valoracion"><p class="servicio">Precio</p><p class="valoracion">4.9</p><img src="../public/assets/img/icon/rating/dollar.png" alt=""></div>
    </section>


    <h2 class="title">Reseñas</h2>
    <div class="reseñas">
        <div class="reseña">
            <div class="perfil">
                <img src="../public/assets/img/profile/sanji.jpeg" class="imagen-perfil">
                <div class="perfil-info">
                    <p class="name">Sanji Vinsmoke</p>
                    <p class="location">North Blue</p>
                </div>
            </div>
            <p class="fecha">Hace 2 semanas</p>
            <p class="comentario">
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
            </p>
        </div>

        <div class="reseña">
            <div class="perfil">
                <img src="../public/assets/img/profile/zoro.jpeg" class="imagen-perfil">
                <div class="perfil-info">
                    <p class="name">Zoro Roronoa</p>
                    <p class="location">East Blue</p>
                </div>
            </div>
            <p class="fecha">Hace 2 semanas</p>
            <p class="comentario">
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
            </p>
        </div>
        <div class="reseña">
            <div class="perfil">
                <img src="../public/assets/img/profile/nami.jpeg" class="imagen-perfil">
                <div class="perfil-info">
                    <p class="name">Nami</p>
                    <p class="location">Villa Cocoyashi</p>
                </div>
            </div>
            <p class="fecha">Hace 2 semanas</p>
            <p class="comentario">
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
            </p>
        </div>
        <div class="reseña">
            <div class="perfil">
                <img src="../public/assets/img/profile/robin.jpeg" class="imagen-perfil">
                <div class="perfil-info">
                    <p class="name">Nico Robin</p>
                    <p class="location">Ohara</p>
                </div>
            </div>
            <p class="fecha">Hace 2 semanas</p>
            <p class="comentario">
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
            </p>
        </div>
    </div>

    <button id="reservar">Reservar</button>

    <footer>
        <div class="footer-content">
            <h3>Sobre nosotros</h3>
            <p>Quienes somos</p>
            <p>Terminos y condiciones</p>
            <p>Politica y privacidad</p>
        </div>

        <div class="footer-content">
            <h3>¿Necesitas asistencia?</h3>
            <p>Telefonos</p>
            <p>Preguntas frecuentes</p>
            <p>Asesoria personalizada</p>
        </div>

        <div class="footer-content">
            <h3>Ubicaciones</h3>
            <p>Unicentro piso 2. Cra 14 No.<br>6-02.  Armenia, Quindío, Colombia</p>
            <p>Google Maps</p>
        </div>
    </footer>
</body>
</html>